body{
    font-family: 'Lato';
    font-style: normal;
    font-weight: normal;
    line-height: 1.2;
    font-size: 16px;
    color: #102746;
}

img{
    max-width: 100%;
    height: auto;
}

.wrapper{
    max-width: 1060px;
    margin: 0 auto;
}


/* HEADER */

.header{
    /*Фиксирую блок(всегда будет сверху страницы, даже при скролинге)*/
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.header__wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    padding-top: 56px;
}

.header__list{
    display: flex;
    flex-wrap: wrap;
}

.header__item{
    margin-right: 82px;
}

.header__item:last-child{
    margin-right: 0;
}

.header__link{
    font-size: 18px;
    line-height: 24px;
    color: white;
    text-decoration: none;
}

.header__link:hover, .header__link:focus, .header__link:active{
    /*Ссылки меняют свойства при наведении на них мышкой/фокусировке/при клике на них*/
    opacity: .75;
}


/* INTRO */

.intro{
    max-height: 962px;
    min-height: 90vh;
    background: url("../img/intro_bg.jpg") no-repeat center;
    background-size: cover;
    padding-top: 263px;
    /*padding-bottom: 223px;*/
}

.intro__title{
    font-weight: 500;
    font-size: 50px;
    line-height: 60px;
    color: #FFFFFF;
    max-width: 619px;
    margin-bottom: 22px;
}

.intro__subtitle{
    max-width: 546px;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 59px;
}

.search-form__info{
    display: flex;
    flex-wrap: wrap;
}

.search-form__field{
    width: 297px;
    background: transparent url("../img/svg/oval.svg") no-repeat left 6px;
    background-size: 20px;
    border: 0;
    border-bottom: 2px solid #BFC0C5;
    margin-right: 60px;
    padding-left: 63px;
    padding-bottom: 22px;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
}

.search-form__field::placeholder{
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
}

.search-form__submit{
    padding: 15px 39px;
    background: #1B7DFF;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    text-transform: uppercase;
    border: 0;
}

.search-form__submit:hover, .search-form__submit:focus, .search-form__submit:active{
    background-color: #205daf;
}

/* BENEFITS STYLES */

.benefits{
    margin-bottom: 131px;
}

.benefits__wrapper{
    max-width: 1263px;
    background-color: white;
    margin: 0 auto;
    box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
    position: relative;
}

.benefits__title{
    width: 92.2%;
    font-weight: 500;
    font-size: 35px;
    line-height: 42px;
    color: #102746;
    padding: 93px 0px 88px 100px;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-100%);
    background-color: white;
}

.benefits__cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 55px;
    padding: 0 100px;
}
.benefits__card{
    grid-column: span 1;
    margin-bottom: 112px;
}

.benefits__card-pic{
    margin-bottom: 37px;
    max-width: 66px;

}

.benefits__card-thumb{
    display: block;
}

.benefits__card-title{
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    margin-bottom: 26px;
}

.benefits__card-desc{
    max-width: 317px;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    margin-bottom: 39px;
}

.benefits__card-more{
    display: inline-block;
    padding-right: 59px;
    font-size: 16px;
    line-height: 24px;
    color: #006DFE;
    text-decoration: none;
    background: url(../img/svg/arrow.svg) no-repeat 95% center;
    transition: .2s all;
}

.benefits__card-more:hover, .benefits__card-more:focus, .benefits__card-more:active{
    /*Ссылки меняют свойства при наведении на них мышкой/фокусировке/при клике на них*/
    background: url(../img/svg/arrow.svg) no-repeat right center;
}


/* PLACES STYLES */

.places{
    max-width: 1262px;
    margin: 0 auto;
    margin-bottom: 131px;
}

.wrapper__large{
    max-width: 1262px;
    margin: 0 auto;
}

.section__title{
    font-weight: 500;
    font-size: 35px;
    line-height: 42px;
    color: #102746;
    position: relative;
    padding-bottom: 10px;
}

.section__title::after{
    /*Линия под надписью*/
    display: block;
    content: '';
    width: 253px;
    height: 3px;
    background-color: #006DFE;
    position: absolute;
    bottom: 0;
    left: 0;
}

.places__caption{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 36px;
}

.places__view-all{
    font-size: 16px;
    line-height: 24px;
    text-align: right;
    color: #006DFE;
    text-decoration: none;
    padding-right: 59px;
    background: url(../img/svg/arrow.svg) no-repeat right center;
}

.places__view-all:hover, .places__view-all:focus, .places__view-all:active{
    /*Ссылки меняют свойства при наведении на них мышкой/фокусировке/при клике на них*/
    opacity: .65;
}

.places__title{
    /*Чтобы колонки не налазили друг на друга при маленьком размере экрана*/
    margin-right: 15px;
}

.places__cards{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px;
}

.places__card{
    position: relative;
    overflow: hidden; /*При увеличении изображения при наведении на него, оно не будет вылазить за пределы контейнера*/
}

.places__card::after{
    /*Затемнение на картинках (оверлэй)*/
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(21, 24, 36, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.places__card:hover .places__card-pic{
    /*Интерактивность при наведении*/
    transform: scale(1.05);

}

.places__card-title{
    font-weight: bold;
    font-size: 50px;
    line-height: 60px;
    color: #FFFFFF;
    position: absolute;
    bottom: 27px;
    left: 29px;
    z-index: 3;
}

.places__card_size_lg{
    grid-column: span 3;
}

.places__card-pic-lg{
    height: 354px; 
    object-fit: cover;
}

.places__card-pic-sm{
    height: 283px; 
    object-fit: cover;
}

.places__card-pic{
    height: 283px;
    width: 100%;
    object-fit: cover; /*Что-то с масштабированием изображения в контейнере*/
    transition: 0.15;
}


.places__card-link{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
}

.places__card_size_sm{
    grid-column: span 2;
}


/* TOURS */

.tours{
    margin-bottom: 139px;
}

.tours__tour{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0 108px;
    align-items: center;
    margin-bottom: 77px;
}

.tour__desc{
    font-size: 16px;
    line-height: 24px;
    color: #102746;
    margin-bottom: 58px;
}

.tour__title{
    font-weight: 500;
    font-size: 30px;
    line-height: 40px;
    color: #102746;
    margin-bottom: 85px;
}

.tour__more{
    font-size: 16px;
    line-height: 24px;
    text-align: right;
    color: #006DFE;
    text-decoration: none;
    padding-right: 59px;
    background: url(../img/svg/arrow.svg) no-repeat right center;
}

.tour__more:hover, .tour__more:focus, .tour__more:active{
    /*Ссылки меняют свойства при наведении на них мышкой/фокусировке/при клике на них*/
    opacity: .65;
}

.tour__info{
    padding-left: 47px;
}


/* TOP */


.top{
    margin-bottom: 86px;
}

.top__title{
    margin-bottom: 54px;
}

.top__cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 57px;

}

.top__card{
    display: flex;
    flex-direction: column;
}

.top__card-pic{
    position: relative;
    margin-bottom: 45px;
}


.top__card-stats{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: absolute;
    justify-content: flex-end;
    bottom: 0;
    left: 0;
    width: 100%;
    max-width: 332.67px;
    background: rgba(21, 24, 36, 0.6);
    padding: 16px 25px;
}

.top__card-title{
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    margin: 0 auto 0 0 ;
}

.top__card-likes{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    padding-right: 20px;
    background: url(../img/svg/heart.svg) no-repeat right;
    margin-right: 14px;

}

.top__card-comments{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    padding-right: 23px;
    background: url(../img/svg/massage.svg) no-repeat right;
}

.top__card-desc{
    margin-bottom: 31px;
    font-size: 16px;
    line-height: 24px;
    color: #102746;
}

.top__card-more{
    width: 118px;
    padding: 12px 19px;
    background: #1B7DFF;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    text-transform: uppercase;
    border: 0;
    text-decoration: none;
    margin: auto 0 0 0;
}

.top__card-more:hover, .top__card-more:focus, .top__card-more:active{    
    background-color: #205daf;
}