body{
    font-family: 'Lato';
    font-style: normal;
    font-weight: normal;
    line-height: 1.2;
    font-size: 16px;
    color: #102746;
}

.wrapper{
    max-width: 1060px;
    margin: 0 auto;
}

/* HEADER */

.header{
    /*Фиксирую блок(всегда будет сверху страницы, даже при скролинге)*/
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.header__wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    padding-top: 56px;
}

.header__list{
    display: flex;
    flex-wrap: wrap;
}

.header__item{
    margin-right: 82px;
}

.header__item:last-child{
    margin-right: 0;
}

.header__link{
    font-size: 18px;
    line-height: 24px;
    color: white;
    text-decoration: none;
}

.header__link:hover, .header__link:focus, .header__link:active{
    /*Ссылки меняют свойства при наведении на них мышкой/фокусировке/при клике на них*/
    opacity: .75;
}


/* INTRO */

.intro{
    min-height: 100vh;
    background: url("../img/intro_bg.jpg") no-repeat center;
    background-size: cover;
    padding-top: 263px;
}

.intro__title{
    font-weight: 500;
    font-size: 50px;
    line-height: 60px;
    color: #FFFFFF;
    max-width: 619px;
    margin-bottom: 22px;
}

.intro__subtitle{
    max-width: 546px;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 59px;
}

.search-form__info{
    display: flex;
    flex-wrap: wrap;
}

.search-form__field{
    width: 297px;
    background: transparent url("../img/svg/oval.svg") no-repeat left 6px;
    background-size: 20px;
    border: 0;
    border-bottom: 2px solid #BFC0C5;
    margin-right: 60px;
    padding-left: 63px;
    padding-bottom: 22px;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
}

.search-form__field::placeholder{
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
}

.search-form__submit{
    padding: 15px 39px;
    background: #1B7DFF;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    text-transform: uppercase;
    border: 0;
}

.search-form__submit:hover, .search-form__submit:focus, .search-form__submit:active{
    background-color: #205daf;
}